# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: dd77dcc3b7033bc24c9227e283eea0e333a97c623360b273bc9bac8b1b966a12408403a36f6c7ed716ffef5e0bdf999069b6846fe5100a71c7078268f686b115

test:
  secret_key_base: 736c0f77fd9163910c2cd255c1150cdf30e42767e6a69fcd9717e9bf47ab434da2ca01558322fb30875b35b6808be3c26031fcc4315037412d13d8298799ddcf

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: dd77dcc3b7033bc24c9227e283eea0e333a97c623360b273bc9bac8b1b966a12408403a36f6c7ed716ffef5e0bdf999069b6846fe5100a71c7078268f686b115
