<html>
<head>
  <base target="_parent" />
</head>
<body>
<div style="padding: 10px;">

  <table style="margin: auto; " cellpadding="20">
    <tr>
      <td>
        <a target="_parent" href='/users' class="blue-main" style="width: 340px;text-decoration: none">
          User Management
        </a>
      </td>
      <td>
        <a target="_parent" href='/users' class="blue-main" style="width: 340px;text-decoration: none">
          Location Management
        </a>
      </td>

    </tr>
  </table>

</div>

</body>
</html>
