
  <div style="padding: 10px;">

    <table style="margin: auto; " cellpadding="20">
      <tr>
        <td>
          <button class="button blue-main" onclick="window.location = '/users'"
                  style="width: 340px;">
            User Management
          </button>
        </td>
        <td>
          <button class="button blue-main" onclick="window.location = '/'"
                  style="width: 340px;">
            Location Management
          </button>
        </td>
      </tr>
    </table>

  </div>
